<div layout="row" layout-align="center center">
    <md-card flex-md="100" flex-gt-md="40" flex-gt-xs="100" flex-xs="100" layout="column">
        <md-card-content>
            <md-nav-bar md-selected-nav-item="tab"
                        nav-bar-aria-label="navigation links">
                <md-nav-item
                        md-nav-click="change_type()"
                        name="signIn">
                    Вход с паролем
                </md-nav-item>
                <md-nav-item
                        md-nav-click="change_type()"
                        name="signUp">
                    Регистрация
                </md-nav-item>
            </md-nav-bar>

            <div ng-if="tab === 'signIn'">
                <md-input-container class="md-block">
                    <label>Телефон или e-mail</label>
                    <input type="text" ng-model="$User.username" mask="{{method.mask}}" limit="{{method.limit}}">
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Пароль</label>
                    <input type="password" ng-model="$User.password">
                </md-input-container>
                <div layout="row" layout-align="center center">
                    <md-button ng-click="submit.signIn()" class="md-raised md-primary" flex="100" layout="column">
                        Вход с паролем
                    </md-button>
                </div>
            </div>

            <div ng-if="tab === 'signUp'">
                <md-input-container class="md-block">
                    <label>Телефон или e-mail</label>
                    <input type="text" ng-model="$User.username" mask="{{method.mask}}" limit="{{method.limit}}">
                </md-input-container>
                <div layout="row" layout-align="center center">
                    <md-button ng-click="submit.signUp()" class="md-block md-raised md-primary" flex="100" layout="column">
                        {{method.button}}
                    </md-button>
                </div>
            </div>
        </md-card-content>
    </md-card>
</div>






