<offer-filter filter="filter"></offer-filter>

<md-content ng-repeat="offer in offers.toArray()" layout-xs="column" layout="row">
    <md-card flex-xs flex-gt-xs="30" layout="column">
        <photo src="offer.photos" width="250" height="200" class="md-card-image"></photo>
        <md-card-actions layout="row" layout-align="end center">
            <div>
                <md-icon md-font-icon="mdi-image"></md-icon>
                {{offer.photos.length}}
            </div>
        </md-card-actions>

    </md-card>
    <md-card flex-xs flex-gt-xs="70" layout="column">
        <md-card-title>
            <md-card-title-text>
                    <span class="md-headline">
                        <a ui-sref="Main.offerView({ id:offer.id })" ui-sref-active="active">
                            {{offer.type.alias(0)}} {{offer.rooms.alias(offer.rooms)}}
                            в {{offer.location.alias(5)}},
                            {{offer.location.street}}, {{offer.location.house}}
                        </a>
                    </span>
                <span class="md-subhead">
                    <md-icon md-font-icon="mdi-calendar"></md-icon>
                    Опубликованно: {{$Moment(offer.created).fromNow()}}
                </span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            {{offer.description}}
            <h3>{{offer.price}}</h3>
            <md-chips ng-model="offer.tags" readonly="true">
                <md-chip-template>
                    <a ui-sref="Main.OfferIndex({ tags:[$chip.id], page:1 })" ui-sref-active="active">
                        {{$chip.text}}
                    </a>
                </md-chip-template>
            </md-chips>

        </md-card-content>
    </md-card>
</md-content>

<preload
        model="offers"
        align="center center"
        diameter="20">
</preload>

<paginate
        align="center center"
        length="7"
        filter="filter"
        model="offers">
</paginate>
