<md-content layout-xs="column" layout="row">

    <md-card flex-xs flex-gt-xs="90" layout="column">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">
                    Описание {{offer.rooms.aliases[2]}}
                    <span ng-if="offer.area">, площадью {{offer.area}} м²</span>
                </span>
                <span class="md-subhead" layout="row">
                    <md-icon md-font-icon="mdi-calendar"></md-icon>
                    Опубликованно: {{$Moment(offer.created).fromNow()}}
                    <div flex></div>
                    <md-icon md-font-icon="mdi-eye"></md-icon>
                    Просмотров: {{offer.views}}
                </span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            {{offer.description}}
        </md-card-content>
    </md-card>
<!---
    <md-card flex-xs flex-gt-xs="10" layout="column">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">
                    Цена
                </span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            {{offer.price}}
        </md-card-content>
    </md-card>
-->
</md-content>





