<form [formGroup]="form" (submit)="onSubmit()">
  <form-username [control]="form.controls.username" required="true" label="Email / Телефон"></form-username>

  <mat-form-field appearance="outline">
    <mat-label>Пароль</mat-label>
    <input type="password" formControlName="password" matInput required />
  </mat-form-field>

  <button mat-raised-button>Войти</button>
  <a mat-button (click)="onRestore()">Забыли пароль?</a>
</form>
