<form [formGroup]="form" (submit)="onSubmit()">
    <form-username [control]="form.controls.username" required="true" label="Email / Телефон"></form-username>
    <button mat-raised-button>Регистрация</button>
</form>
