<form [formGroup]="form" (submit)="onSubmit()">
    <form-username [control]="form.controls.username" required="true" label="Email / Телефон"></form-username>
    <button mat-raised-button>Восстановить</button>
    <a mat-raised-button (click)="onRestore()">Назад</a>
</form>
