<div layout="column" layout-gt-md="row">
    <div flex-gt-md="30" flex-gt-xs="100" flex-md="100" layout="column">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">
                        <md-icon md-font-icon="mdi-filter"></md-icon>
                        Поиск объявлений
                    </span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>

                <location-region
                        empty="[Все]"
                        region="filter.region"
                        geometry="filter.geometry"
                        city="filter.city">
                </location-region>

                <md-input-container
                        flex-xs
                        flex-gt-xs="100"
                        layout="column">
                    <label>Тип объявления</label>
                    <md-select
                            ng-model="filter.type">
                        <md-option ng-value="">
                            [Все]
                        </md-option>
                        <md-option
                                ng-value="type.id"
                                ng-repeat="type in types.toArray()">
                            {{type.alias(0)}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container
                        flex-xs
                        flex-gt-xs="100"
                        layout="column">
                    <label>Период</label>
                    <md-select
                            ng-model="filter.period">
                        <md-option ng-value="">
                            [Все]
                        </md-option>
                        <md-option
                                ng-value="period.id"
                                ng-repeat="period in periods.toArray()">
                            {{period.name}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container
                        flex-xs
                        flex-gt-xs="100"
                        class="md-input-has-placeholder md-input-has-value">
                    <label>Количество комнат</label>
                    <md-checkbox
                            ng-checked="room.checked()"
                            md-indeterminate="!room.checked()"
                            ng-click="room.toggle()">
                        [Все]
                    </md-checkbox>
                    <md-checkbox
                            ng-repeat="r in rooms.toArray()"
                            ng-click="room.toggle(r.id, rooms.length)"
                            ng-checked="room.checked(r.id)">
                        {{r.alias(3)}}
                    </md-checkbox>
                </md-input-container>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="submit()" class="md-raised md-primary">
                    <md-icon md-font-icon="mdi-filter"></md-icon>
                    Поиск ({{counts.count}})
                </md-button>
                <md-button ng-click="details.trigger()" ng-class="{true: 'md-primary', false: ''}[details.isShow()]">
                    Расширеный поиск
                </md-button>
            </md-card-actions>

        </md-card>
    </div>

    <div flex-gt-md="70" flex-gt-xs="100" flex-md="100" layout="column" ng-show="details.isShow()">
        <md-card flex>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">
                        <md-icon md-font-icon="mdi-settings"></md-icon>
                        Расширеный поиск
                    </span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <md-input-container
                        flex-xs flex-gt-xs="50"
                        class="md-block md-input-has-placeholder md-input-has-value">
                    <label>Цена до
                        <span ng-if="!slider.disabled(filter.price)">{{filter.price}}</span>
                        <span ng-if="slider.disabled(filter.price)">[Все]</span>
                    </label>
                    <md-slider
                            aria-label="price"
                            ng-model="filter.price"
                            ng-disabled="slider.disabled(counts.max_price)"
                            step="1000" min="0" max="{{counts.max_price}}">
                    </md-slider>
                </md-input-container>
                <md-input-container
                        flex-xs flex-gt-xs="50"
                        class="md-block md-input-has-placeholder md-input-has-value">
                    <label>Этаж
                        <span ng-if="!slider.disabled(filter.floor)">{{filter.floor}}</span>
                        <span ng-if="slider.disabled(filter.floor)">[Все]</span>
                    </label>
                    <md-slider
                            aria-label="floor"
                            ng-model="filter.floor"
                            ng-disabled="slider.disabled(counts.max_floor)"
                            step="1" min="0" max="{{counts.max_floor}}">
                    </md-slider>
                </md-input-container>
                <md-input-container
                        flex-xs flex-gt-xs="50"
                        class="md-block md-input-has-placeholder md-input-has-value">
                    <label>Общая площадь
                        <span ng-if="!slider.disabled(filter.area)">{{filter.area}}</span>
                        <span ng-if="slider.disabled(filter.area)">[Все]</span>
                    </label>
                    <md-slider
                            aria-label="area"
                            ng-model="filter.area"
                            ng-disabled="slider.disabled(counts.max_area)"
                            step="1" min="0" max="{{counts.max_area}}">
                    </md-slider>
                </md-input-container>
            </md-card-content>
        </md-card>
    </div>

    <div flex-gt-md="70" flex-gt-xs="100" flex-md="100" layout="column" ng-show="!details.isShow()">
        <md-card flex>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">
                        <md-icon md-font-icon="mdi-map"></md-icon>
                        Объявления на карте
                    </span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <ui-gmap-google-map
                        center='map.center'
                        zoom='map.zoom'
                        control="map.control"
                        options="map.options">
                    <ui-gmap-markers
                            models="markers"
                            coords="'self'"
                            fit="true"
                            type="'cluster'"
                            ng-if="markers"
                            typeOptions="map.options.cluster"
                            options="map.options.marker">
                    </ui-gmap-markers>
                    <ui-gmap-map-control
                            template="/View/Widgets/Map/Control/Draft.html"
                            position="LEFT_TOP"
                            index="-1">
                    </ui-gmap-map-control>
                    <ui-gmap-map-control
                            template="/View/Widgets/Map/Control/Zoom.html"
                            position="LEFT_CENTER"
                            index="-1">
                    </ui-gmap-map-control>
                    <ui-gmap-layer
                        type='DrawingManager'
                        namespace='drawing'
                        onCreated="map.layers.polygon.init(geometry)"
                        show="'true'">
                    </ui-gmap-layer>
                </ui-gmap-google-map>
            </md-card-content>
        </md-card>
    </div>

</div>
