<offer-filter></offer-filter>
<div layout="column" layout-gt-md="row">
    <md-card flex-gt-md="50" flex-gt-xs="100" flex-md="100" layout="column">
        <md-card-title>
            <md-card-title-text>
        <span class="md-headline">
            <md-icon md-font-icon=""></md-icon>
            Актуальные объявления
        </span>
        <span class="md-subhead">
            Сгруппированные по городам
        </span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <md-nav-bar md-selected-nav-item="offer_type_id"
                        nav-bar-aria-label="navigation links">
                <md-nav-item
                        md-nav-click="change_type()"
                        name="0">
                    Все
                </md-nav-item>
                <md-nav-item md-nav-click="change_type(type.id)"
                             ng-repeat="type in offer_types.toArray()"
                             name="{{type.id}}">
                    {{type.alias(0)}}
                </md-nav-item>
            </md-nav-bar>
            <md-list>
                <md-list-item class="md-2-line left"
                              ng-repeat="group in offer_groups.toArray()"
                              ui-sref="Main.OfferIndex({ region:group.region_id, city:group.city_id, type:group.type_id })">
                    <div class="md-label md-avatar"
                         layout="row"
                         layout-align="center center">
                        {{group.count}}
                    </div>
                    <div class="md-list-item-text compact">
                        <h3>{{group.city_name}}</h3>
                        <p>{{group.region_name}}</p>
                    </div>
                </md-list-item>
            </md-list>
            <div ng-show="offer_groups && offer_groups.length === 0"
                 layout="row"
                 layout-align="center center">
                Ничего не найдено
            </div>
            <preload model="offer_groups"
                     align="center center"
                     diameter="20">
            </preload>
        </md-card-content>
    </md-card>
    <md-card flex-gt-md="50" flex-gt-xs="100" flex-md="100" layout="column">
        <md-card-title>
            <md-card-title-text>
        <span class="md-headline">
            <md-icon md-font-icon=""></md-icon>
            Горячие объявления
        </span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
        </md-card-content>
    </md-card>
</div>

