<md-dialog aria-label="{{title}}">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{title}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="hide()">
                    <md-icon md-font-icon="mdi-close" aria-label="Закрыть"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content class="md-padding">
            <ng-include ng-show="include" src="include"></ng-include>
            <div ng-show="body">{{body}}</div>
        </md-dialog-content>
</md-dialog>

