<div layout="row" class="material-paging" layout-align="{{align}}" ng-show="showPaginate()">

    <md-button class="md-primary" ng-click="goFirst()" ng-disabled="showFirst()">
        <md-icon md-font-icon="mdi-chevron-double-left"></md-icon>
        Первая
    </md-button>

    <md-button class="md-primary" ng-click="goPrev()" ng-disabled="!showPrev()">
        <md-icon md-font-icon="mdi-chevron-left"></md-icon>
        Назад
    </md-button>

    <md-button
            class="md-fab md-mini"
            ng-repeat="page in pages"
            ng-click="goPage(page)"
            ng-class="{true: 'md-primary', false: ''}[page === model.paging.current]">
        {{page}}
    </md-button>

    <md-button class="md-primary" ng-click="goNext()" ng-disabled="!showNext()">
        Вперед
        <md-icon md-font-icon="mdi-chevron-right"></md-icon>
    </md-button>

    <md-button class="md-primary" ng-click="goLast()" ng-disabled="showLast()">
        Последняя
        <md-icon md-font-icon="mdi-chevron-double-right"></md-icon>
    </md-button>

</div>