<mat-form-field>
  <mat-label>{{label}}</mat-label>
  <select [formControl]="control" matNativeControl required>
    <option *ngFor="let item of items" value="{{item.id}}">{{item.name}}</option>
  </select>
</mat-form-field>
