<mat-form-field appearance="outline">
  <mat-label>{{label}}</mat-label>
  <input type="text" [formControl]="control" (keydown)="onKeyDown($event)" [mask]="mask" [required]="required" matInput />
</mat-form-field>
