<div ng-repeat="field in fields.toArray() || fields" ng-switch="field.type">

    <div ng-switch-when="card">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">
                        {{field.label}}
                    </span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content
                    ng-include="'/View/Widgets/Main/Form.html'"
                    ng-init="fields = field.fields">
            </md-card-content>
        </md-card>
    </div>

    <div ng-switch-when="text">
        <md-input-container class="md-block">
            <label>{{field.label}}  value - {{model}}/{{field.name}}/{{model[field.name]}}</label>
            <input ng-model="model[field.name]" type="text" mask="{{field.mask || '*'}}" ng-model-options="{ getterSetter: true }" />
        </md-input-container>
    </div>

    <div ng-switch-when="select">
        <md-input-container class="md-block">
            <label>{{field.label}} value - {{model}}/{{field.name}}/{{model[field.name].id}}</label>
            <md-select
                    md-on-open="dictionary.get(field.dictionary_code)"
                    ng-model="model[field.name].id"
                    ng-model-options="{ getterSetter: true }">
                <md-option ng-value=""></md-option>
                <md-option
                        ng-value="value.id"
                        ng-repeat="value in dictionary.data[field.dictionary_code].toArray()">
                    {{value.name}}
                </md-option>
            </md-select>
        </md-input-container>
    </div>

    <div ng-switch-when="textarea">
        <md-input-container class="md-block">
            <label>{{field.label}}</label>
            <textarea ng-model="recompose(field.name)" ng-model-options="{ getterSetter: true }"></textarea>
        </md-input-container>
    </div>

    <div ng-switch-when="region">
        <location-region
                geometry="model.location.geometry"
                region="model.location.city.region.id"
                city="model.location.city.id">
        </location-region>
    </div>

    <div ng-switch-when="street">
        <location-street
                geometry="model.location.geometry"
                region-id="model.location.city.region.id"
                city-id="model.location.city.id"
                street="model.location.street"
                house="model.location.house">
        </location-street>
    </div>

    <div ng-switch-default class="responsive">
        CustomForm type "{{field.type}}" not found.
    </div>
</div>