<md-toolbar layout="row">
    <md-button ng-click="$mdSidenav('left').toggle()" class="md-mini" ng-if="!$mdMedia('gt-md')">
        <md-icon md-font-icon="mdi-menu"></md-icon>
    </md-button>
    <md-button ui-sref="Main.Index()">
        <img class="logo" src="/Assets/Images/logo.png"/>
    </md-button>
    <div flex></div>
    <md-button ng-if="$mdMedia('gt-md')" ng-click="toolbar_button.add()">
        Добавить объявление
    </md-button>
    <md-button ng-if="$mdMedia('gt-md') && !$user.is.auth()" ng-click="toolbar_button.auth()">
        Войти
    </md-button>
    <md-button ng-if="$mdMedia('gt-md') && $user.is.auth()" ng-click="toolbar_button.exit()">
        Выйти
    </md-button>
</md-toolbar>
<section layout="row" flex class="responsive">
    <md-sidenav class="md-sidenav-left"
                md-component-id="left"
                md-is-locked-open="$mdMedia('gt-md')"
                md-disable-backdrop
                md-whiteframe="4">
        <md-toolbar class="md-hue-2 account">
            <div layout="row">
                <div layout="column" flex="40" layout-align="center center">
                    <img class="md-avatar" src="/Assets/Images/avatar.png"/>
                </div>
                <div layout="column" flex="60" layout-align="center left">
                    <div class="md-body-1">
                        Гость
                    </div>
                </div>
            </div>
        </md-toolbar>
        <md-list>
            <div ng-repeat="group in $Menu.toArray()">
                <md-subheader class="md-no-sticky">
                    {{group.name}}
                </md-subheader>
                <md-list-item ng-repeat="menu in group.menu"
                              ui-sref="{{menu.href}}">
                    {{menu.name}}
                </md-list-item>
            </div>
        </md-list>
        <ng-view ui-view="LeftSidebar"></ng-view>
    </md-sidenav>
    <md-content flex
                layout-padding
                ui-view="Content"
                ng-click="$mdSidenav('left').close()"> // why it added blue border on block?
    </md-content>
</section>