<div layout="row">
    <md-input-container flex-xs flex-gt-xs="50" layout="column">
        <label>Регион</label>
        <md-select
                ng-model="region"
                md-on-open="regions.get()"
                ng-change="regions.set()">
            <md-option
                    ng-if="isEmpty()"
                    ng-value="">
                {{empty}}
            </md-option>
            <md-option
                    ng-value="region.id"
                    ng-repeat="region in regions.data">
                {{region.name}}
            </md-option>
        </md-select>
    </md-input-container>
    <md-input-container flex-xs flex-gt-xs="50" layout="column">
        <label>Город</label>
        <md-select
                ng-model="city"
                md-on-open="cities.get()"
                ng-change="cities.set()">
            <md-option
                    ng-if="isEmpty()"
                    ng-value="">
                {{empty}}
            </md-option>
            <md-option
                    ng-value="city.id"
                    ng-repeat="city in cities.data">
                {{city.name}}
            </md-option>
        </md-select>
    </md-input-container>
</div>
