<md-autocomplete class="md-block"
                 md-input-name="autocompleteStreet"
                 md-input-minlength="2"
                 md-no-cache="false"
                 md-search-text="find"
                 md-items="item in search()"
                 md-require-match
                 md-selected-item="selected"
                 md-item-text="item.formatted"
                 md-floating-label="Улица, дом">
    <md-item-template>
        <span md-highlight-text="find">{{item.formatted}}</span>
    </md-item-template>
    <!--
    <div ng-messages="searchForm.autocompleteField.$error" ng-if="searchForm.autocompleteField.$touched">
        <div ng-message="required">You <b>must</b> have a favorite state.</div>
        <div ng-message="md-require-match">Please select an existing state.</div>
        <div ng-message="minlength">Your entry is not long enough.</div>
        <div ng-message="maxlength">Your entry is too long.</div>
    </div>
    -->
</md-autocomplete>
<ui-gmap-google-map
        center='map.center'
        zoom='map.zoom'
        control="map.control"
        options="map.options">
    <ui-gmap-map-control
            template="/View/Widgets/Map/Control/Zoom.html"
            position="LEFT_CENTER"
            index="-1">
    </ui-gmap-map-control>
</ui-gmap-google-map>