
@import
  url('https://fonts.googleapis.com/css?family=Play:400,700&subset=latin,cyrillic-ext');


body, button, html, input, select, textarea {
  font-family: "Play",sans-serif;
}

md-icon {
  &.md-font, &.material-icons {
    font: normal normal normal 24px/1 "Material Design Icons";
  }
}

md-card {
  md-card-content {
    height: 100%;
  }
}

md-grid-list {
  md-grid-tile {
    figure {
      justify-content:normal
    }
  }
}

button {
  &.md-mini {
    min-width:0;
  }
}

md-list {
  md-list-item {
    &.left {
      float: left;
      width: 33%;
    }
    .md-avatar {
      &.md-label {
        color: #FFF;
        background-color: #3B3B3B;
      }
    }
  }
}

md-toolbar {
  img.logo {
    height: 30px;
    margin-top: 9px;
  }
  &.account {
    background-image: url("/Assets/Images/account.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    .md-avatar {
      background-color: #FAFAFA;
      border-radius: 100%;
      margin: 10px;
    }
  }
}

.responsive {
  height: 100%;
  width: 100%;
}

.angular-google-map {
  .angular-google-map-container {
    height: 100%;
    min-height: 200px;
  }
  display: block;
  height: 100%;
  min-height: 200px;
}