<div>
    <div>
        <md-button
                class="md-raised md-primary md-mini"
                ng-click="$parent.$parent.map.control.drawing.trigger()"
                ng-show="$parent.$parent.map.control.drawing.is.empty()"
                aria-label="Выделить область">
            <md-icon md-font-icon="mdi-lead-pencil"></md-icon>
        </md-button>

        <md-button
                class="md-raised md-primary md-mini"
                ng-click="$parent.$parent.map.control.drawing.remove()"
                ng-show="!$parent.$parent.map.control.drawing.is.empty()"
                aria-label="Удалить область">
            <md-icon md-font-icon="mdi-delete"></md-icon>
        </md-button>
    </div>
    <div>
        {{parent.$parent}}
    </div>

    <div layout="row" layout-align="center center">
        <md-progress-circular md-diameter="20"
                              md-mode="indeterminate"
                              ng-if="!$parent.$parent.markers">
        </md-progress-circular>
    </div>
</div>

