<div>
    <div>
        <md-button class="md-raised md-mini" ng-click="$parent.$parent.map.control.zoom.in()" aria-label="+">
            <md-icon md-font-icon="mdi-plus"></md-icon>
        </md-button>
    </div>

    <div>
        <md-button class="md-raised md-mini" ng-click="$parent.$parent.map.control.zoom.out()" aria-label="-">
            <md-icon md-font-icon="mdi-minus"></md-icon>
        </md-button>
    </div>
</div>
